html{
	background-image:url(http://amxxcs.ru/wp/wc1724548.jpg);
}
h1{
	margin-top:-8px;
	margin-right:-2in;
	margin-left:-2in;
	color:white;
	text-align:center;
	background-color:black;
	border-bottom:5px solid white;
} 
