/* 
color
background-color
background-image
background-position
font-family
font-size
font-style
border-style
border-color
border-bottom-color
border-top-color
border-left-color
border-right-color
text-align
text-decoration
position
padding
*/
html{
	background-color:;
	background-image:url(http://www.wallpapermaven.com/cat/abstract/download/Blue-Radial-Gradient-1280x1024-5.jpg);
	background-position:top;
}
h1{ 
	background-color:yellow;
	font-family:arial;
	color:black;
	font-size:30px;
	border-style:dotted;
	border:3px dotted red;
	border-bottom-color:red;
	border-left-color:red;
	border-right-color:red;
	text-align:center;
	font-style:italic;
}
h2{
	font:25px arial;
	text-decoration:underline;
	font-style: bold;
	text-align:center;
	color:yellow;
}
p{
	background-color:yellow;
	font-size:80px;
	text-align:center;
	color:black;
	border:3px solid red;
	padding: 2cm 2cm;
}
footer{
	font-size:10px;
	position:bottom;
}
