/* 
color
background-color
background-image
background-position
background-size
font-family
font-size
font-style
border-style
border-color
border-bottom-color
border-top-color
border-left-color
border-right-color
text-align
text-decoration
position
padding
margin-left
margin-right
height
width

Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
Use at least 4 different units to set sizes of various aspects of your webpage.
Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
View your index.html in the development server.
Validate your index.html file.
Validate your main.css file.
Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server.

1. I learned from Philip how to put the background image in.
2. I learned how to use padding from Aroya.
*/
html{
	background-image:url(http://eskipaper.com/images/light-blue-background-2.jpg);
	background-position:center;
	background-size:50%;
	margin-left:2cm;
	margin-right:2cm;
	
}
h1{ 
	background-color:yellow;
	font-family:arial;
	color:black;
	font-size:30px;
	border-style:dotted;
	border:3px dotted red;
	border-bottom-color:red;
	border-left-color:red;
	border-right-color:red;
	text-align:center;
	width:100%;
}
nav{
	color:blue;
	font-size:20px;
	font-weight:bold;
	background-color:yellow;
	text-align:center;
	width:100%;
}
h2{
	font:25px arial;
	text-decoration:underline;
	color:black;
	width:100%;
}
h1, h2{
	font-weight:bold;
	font-style:normal;
}
main p{
	border:3px solid red;
}
p{
	background-color:yellow;
	font-size:60px;
	text-align:center;
	color:black;
	padding: 2cm 2cm;
}
ol{
	background-color:yellow;
	border:3px solid red;
}
ul{
	background-color:yellow;
	border:3px solid red;
}
footer{
	font-size:20px;
	text-align:center;
	background-color:yellow;
	border:0.2in dotted red;
	height:20px;
}
