/* 
color
background-color
font-family
font-size
font-style
border-style
border-color
border-bottom-color
border-top-color
border-left-color
border-right-color
text-align
text-decoration
*/
html{
	background-color:gray;
}
h1{ 
	<font-family:arial;
	color:black;
	font-size:30px;
	border-style:dotted;
	border-color:blue;
	border-bottom-color:red;
	border-left-color:green;
	border-right-color:yellow;
	text-align:center;
	font-style:italic;
}
h2{
	font:25px arial;
	text-decoration:underline;
	font-style: bold;
	text-align:center;
	color:yellow;
}
p{
	font-size:20px;
	color:white;
}
footer{
	font-size:10px;
}
